button {
  padding: 1em 2vw;
  background-color: rgb(71, 204, 71);
  color: rgb(68, 65, 65);
  border: 1px solid rgb(71, 204, 71);
}

#angka {
  padding: 1em 2vw;
  margin-left: 20%;
}

.nav,
.container {
  margin: 0 auto;
  width: 50vw;
}

li {
  list-style: "> ";
}
